
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model HomeBlogModel

<div class="container mt-15">
    <div class="row">
        <div class="col-md-3">
            @await  Component.InvokeAsync("CategoryMenu")
        </div>
        <div class="col-md-9">
            <partial name="_Slider.cshtml" />
            <partial name="_BlogList" />
        </div>
    </div>
</div>
